<h2>VECHILES</h2>
<a [routerLink]="['/vechiles/new']" class="btn btn-primary"> New Vechiles</a>
<table>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Make</th>
        <th>Contact</th>
    </tr>
    <tr *ngFor="let v of vechiles">
        <td>
            {{v.id}} 
        </td>
        <td>
            {{v.model.name}}
        </td>
        <td>
            {{v.make.name}}
        </td>
        <td>
            {{v.contact.contactName}}
        </td>
        <td>
            <a [routerLink]="['/vechiles/',v.id]">View</a>
        </td>
    </tr>
</table>
